@import "compass/reset";

h1 {
    font: xx-large/1.5 sans-serif;
    text-align: center;
}

.math {
    font-family: math;
}

fieldset {
    width: 20em;
    padding: 1em 0 0 1.25em;
}

#canvas {
    border: black 1px;
    width: 20em;
    height: 20em;
}

small {
    font-size: smaller;
}

div.input {
    display: table-row;
    vertical-align: middle;
}

div.input * {
    vertical-align: middle;
}

footer {
    margin-top: 1em;
    border-top: 1px black solid;
}

.jxgbox {
    width: 20em;
    height: 20em;
}
